<main>
        <div class="welcome">
        <h2>Καλώς ήλθατε</h2>
            <p> Η ιστοσελίδα αποτελεί εφαρμογή διαχείρισης δρομολογίων των αστικών λεωφορείων της πόλης μας.
                Μπορείτε να ενημερωθείτε σχετικά με τα δρομολόγιά μας και τις τιμές των εισιτιρίων μας. Ταυτόχρονα,
                στις ανακοινώσεις μπορείτε να πληροφορηθείτε σχετικά με τα τελευταία νέα των συγκοινωνιών της περιοχής.  
                Μη διστάσετε να επικοινωνήσετε μαζί μας.
            </p>
        </div>
        <div class="bestpath">
            <h2>Εύρεση Πλησιέστερης Στάσης</h2>
            <form>
                <fieldset>
                    <label for="line"> Επιλέξτε γραμμή: </label>
                    <select id="line" name="line" placeholder="Γραμμή Λεωφορείου">
                        <option value="" disabled selected>-- Επιλέξτε Γραμμή --</option>
                        {{#each allLines}}
                            {{#groupLinesSelect this.id}}{{/groupLinesSelect}}
                            <option value="{{this.id}}">{{this.id}} -- {{this.onoma}}</option>
                        {{/each}}
                        {{#restoreGroupLineVal}}{{/restoreGroupLineVal}}
                    </select>
                </fieldset>
                <input type="submit" value="Πλησιέστερη Στάση" class="submitbutton">
            </form>
            <div id="min-stop" class="minStop">
            </div>
        </div>
        <div id="latestNews">
            <h2>Τελευταίες ανακοινώσεις</h2>
            {{#each news}}
                <div class="articleNews" id="{{this.id}}">
                    <h3>{{this.titlos}}</h3>
                    <span>Ημερομηνία: {{this.imerominia}}</span>
                </div>
            {{/each}}
        </div>
        <div class="newsInfos">
            <h2>Χρήσιμες πληροφορίες</h2>
            <ol>
                <li>
                    <a href="/route">Γραμμές λεωφορείων.</a>
                </li>
                <li>
                    <a href="/tickets.html#ticket-office">Εκδοτήρια.</a>
                </li>
                <li>
                    <a href="/tickets.html#monthly-ticket">Έκδοση κάρτας.</a>
                </li>
                <li>
                    <a href="/contact.html#gmap_canvas">Χάρτης.</a>
                </li>
            </ol>
        </div>
    </main>