<main>
    <div class="subtitle">
        <h2>Δρομολόγιο {{lineName}}</h2>
        Απαιτείται εισιτήριο τύπου <strong>Ζώνη {{#checkZone bus_stop}}{{/checkZone}}</strong>
    </div>
    


    <div class="main-box" id="timetable">
        <div class="accordion"><h3>Ώρες Δρομολογίων (από αφετηρία)</h3></div>
        <div class="panel">
            <hr class="solid">
            {{#each day_time}}
                <button class="accordion btn-accordion">{{this.days}}</button>
                <div class="panel">
                    <ul class="lists">
                        {{#each this.time}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="main-box" id="bus-stops">
        <div class="accordion"><h3>Στάσεις</h3></div>
        <div class="panel">
            <hr class="solid">
            <ul class="lists">
                {{#each bus_stop}}
                    <li><a href="https://www.google.com/maps/search/?api=1&query={{this.geografikiThesi}}" target="_blank"><span title="Ζώνη {{this.zoni}}">{{this.onomaStasis}}</span></a></li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="main-box" id="line-map">
        <div class="accordion"><h3>Χάρτης</h3></div>
        <div class="panel">
            <hr class="solid">
            <div id="map" class="map"></div>
        </div>
    </div>

</main>